@font-face {
  font-family: Billgrotia Sans;
  src: url(./Billgrotia\ Sans.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --beige: #d1b383;
}
body {
  background-color: #ebece6;
  font-family: Billgrotia Sans;
}

/* -------- H E R O --------- */
h3 {
  font-family: Billgrotia Sans;
  font-weight: lighter;
}
header {
  position: relative;
}
.logo {
  font-family: Billgrotia Sans;
  font-size: 170px;
  font-weight: lighter;
}
header img {
  width: 100%;
  height: 100%;
}
nav ul {
  display: flex;
  position: relative;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  font-family: Billgrotia Sans;
  color: black;
  text-decoration: none;
  font-size: 66px;
  top: 300px;
  right: 220px;
}
.logo_nav_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 390px;
  right: 180px;
  transform: translateY(-50%);
  align-items: flex-end;
}
.logo_nav_container p {
  font-family: Abril Titling Narrow;
  margin-top: 140px;
  font-size: 45px;
  max-width: 350px;
  text-align: right;
}
.nav_underline {
  z-index: -1;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--beige);
}
.scroll_down {
  top: 39vw;
  position: absolute;
  flex-direction: row;
  /* max-width: 80px; */
  display: flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 70px;
}
.scroll_down::before {
  width: 5px;
  margin-right: -7px;
  content: "";
  height: 90px;
  background: #a2bb2e;
}

/* ------- C O N T E N T -----------*/
.card {
  display: grid;
  position: relative;
  width: 230px;
  height: 374px;
  background-color: #ebece6;
  box-shadow: 0px 3px 36px 0px lightgray;
  overflow: hidden;
  padding-bottom: 10px;
  margin-right: 30px;
  margin-top: 30px;
  grid-template-columns: 150px 1fr;
}
.card_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.card_header::after {
  content: "";
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 0;
  height: 7px;
  background: #a2bb2e;
}
.card_header p {
  margin-left: 20px;
  margin-top: 20px;
  font-family: Billgrotia Sans;
  font-size: 2.5em;
}
.preview {
  display: flex;
  align-items: center;
}
.discount_icon {
  position: relative;
  margin-top: 100px;
  margin-left: -70px;
  width: 70px;
  height: 70px;
  display: inline-block;
  border-radius: 50%;
  background-color: #c1824d;
  border: 4px solid #ebece6;
}
.discount_icon p {
  font-weight: bold;
  margin-top: 6px;
  margin-left: 20px;
  color: white;
  font-size: 2.5em;
  line-height: 25px;
}
.card_content {
  margin-top: 20px;
  margin-left: -40px;
}
.card_header,
.card_footer {
  grid-column: 1/-1;
}
.card_heading {
  max-width: 50px;
  font-size: 2.7em;
  line-height: 25px;
}
.short_desc {
  max-width: 90px;
  font-family: Abril Titling Narrow;
  font-size: 12px;
  margin-bottom: 30px;
  color: #c1824d;
  font-style: italic;
}
.card_image {
  width: 100px;
  height: 200px;
  transform: translateX(-20px);
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  object-fit: cover;
}
.details_btn {
  margin-top: -20px;
  width: 90px;
  height: 30px;
  border: none;
  background: #a2bb2e;
  font-size: 30px;
  color: white;
  font-family: Billgrotia Sans;
}
.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card_veg {
  width: 40px;
}
.card_meat {
  width: 60px;
}
.vertical_separator {
  background: var(--beige);
  height: 40px;
  width: 2px;
}
.price {
  font-family: Billgrotia Sans;
  font-size: 60px;
  color: var(--beige);
}
main {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.productlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 30px;
}
.starters {
  flex-direction: row;
  align-items: flex-start;
  max-width: 80px;
  display: flex;
  position: relative;
  top: 15px;
  margin-bottom: 100px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 170px;
  left: 200px;
  grid-row: 1/-1;
}
.starters::before {
  width: 85px;
  margin-right: 25px;
  content: "";
  margin-top: 16px;
  margin-bottom: 30px;
  height: 14px;
  background: #d1b383;
}
.modal {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 800px;
  background-color: #ebece6;
  box-shadow: 0px 3px 36px 0px lightgray;
  padding: 30px;
  padding-bottom: 10px;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal_heading {
  font-size: 89px;
  margin-top: 50px;
  line-height: 90px;
  align-items: center;
}
.long_desc {
  color: #c1824d;
  font-family: Abril Titling Narrow;
  font-style: italic;
  margin-bottom: 120px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}
.modal_image {
  position: relative;
  width: 650px;
}
.modal_footer {
  width: 400px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-top: 250px;
}
.region {
  font-size: 40px;
}
.details_price {
  font-size: 40px;
}
.veg_icon {
  margin-top: -9px;
  width: 50px;
}
.lactose {
  margin-top: -9px;
  width: 20px;
}
.vertical_separator1 {
  background: black;
  height: 25px;
  width: 2px;
}
.vertical_separator2 {
  background: black;
  height: 25px;
  width: 2px;
}
.vertical_separator3 {
  background: black;
  height: 25px;
  width: 2px;
}
.stroke {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 600px;
  height: 700px;
  border: 3px solid #a2bb2e;
}
.hidden {
  display: none !important;
}
.sold_out {
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  position: absolute;
  width: 230px;
  height: 390px;
  background-color: rgba(30, 30, 30, 0.7);
}
.sold_out p {
  line-height: 40px;
  color: white;
  font-size: 70px;
}
